# Ignore Python Virtual Environments
venv/
.venv/
__pycache__/

# Ignore React Node Modules
soc-dashboard/node_modules/

# Ignore Database Logs (so you upload a fresh, empty system)
security_logs.db
venv/
soc-dashboard/node_modules/
*.pkl
